  body {
	padding-top: 60px;
	padding-bottom: 40px;
  }
  .sidebar-nav {
	padding: 9px 0;
  width: 250px;
  }
  
  li.span4:nth-child(3n+1) {
  margin-left:0;
  }

.items li { 
  float: left; 
}

ul.items
{
  list-style-type: none;  
  width: 400px;
}

ul.items li
{
  width: 200px;
  display: inline;     
}

  .center {
  text-align: center;
  }

  .table td {
   text-align: center;   
  }

  .table th {
   text-align: center;   
  }  