  body {
	padding-top: 60px;
	padding-bottom: 40px;
  }
  .sidebar-nav {
	padding: 9px 0;
  width: 250px;
  }
  
  li.span4:nth-child(3n+1) {
  margin-left:0;
  }

  .center {
  text-align: center;
  }

  .table td {
   text-align: center;   
  }

  .table th {
   text-align: center;   
  }  